@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
table{border-spacing:0;}
*:focus{outline:none;}

.cb{clear:both;}
.cf{zoom:1;clear:left;} 
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear: both;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}

@font-face {font-family:'FontAwesome';src:url('../../../fonts/fontawesome-webfont.eot?v=4.0.3');src:url('../../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'Architext';src:url('../../../fonts/Architext.eot');src:url('../../../fonts/Architext.eot') format('embedded-opentype'), url('../../../fonts/Architext.woff') format('woff'), url('../../../fonts/Architext.ttf') format('truetype'), url('../../../fonts/Architext.svg') format('svg');font-weight:normal;font-style:normal;}
html,body{height:100%;}
body{font:14px/1.5 "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;color:#2c2e2f;background-color:#eee;}
a{text-decoration:none;transition:all 0.2s linear 0s;color:#373e4a;}
a:hover{color:#16191e;text-decoration:underline;}

.wrapper{display:table;width:100%;height:100%;vertical-align:top;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.sidebar-menu{display:table-cell;position:relative;width:29.4118%;background:#2c2e2f;z-index:1;}
.sidebar-menu.fixed{height:100%;}
.sidebar-menu.fixed .sidebar-menu-inner{position:fixed;left:0;top:0;bottom:0;overflow:hidden;}

/* 导航栏上的logo */
.sidebar-menu .logo-env .logo a{color:#fff;font-family:Architext;font-size:30px;font-weight:bold;}
.sidebar-menu .logo-env .logo a:hover{text-decoration:none;}
.sidebar-menu .logo-env .logo a.logo-collapsed{display:none;}
.sidebar-menu .logo-env .toggle-mobile-menu{display:none;}
.sidebar-menu .sidebar-menu-inner .logo-env{margin-bottom:0;padding:17px 45px;border-bottom:1px solid #313437;}

/* 左侧菜单基础效果 */
.sidebar-menu .main-menu{padding-left:40px;padding-right:40px;margin-top:20px;margin-bottom:20px;list-style:none;}
.sidebar-menu .main-menu a{color:#979898;text-decoration:none;display:block;padding:13px 5px;border-bottom:1px solid #313437;}
.sidebar-menu .main-menu a:hover{color:#fff;}
.sidebar-menu .main-menu li.active > a{color:#fff;}
.sidebar-menu .main-menu > li.opened > ul{display:block;}
.sidebar-menu .main-menu > li.opened .opened > ul{display:block;}
.sidebar-menu .main-menu ul{display:none;margin:0;padding:0;overflow:hidden;list-style:none;}
.sidebar-menu .main-menu ul li{position:relative;}
.sidebar-menu .main-menu ul li a{padding-left:35px;}
.sidebar-menu .main-menu ul li ul li a{padding-left:60px;}
.sidebar-menu .main-menu ul li ul li ul li a{padding-left:85px;}
.sidebar-menu .main-menu ul li ul li ul li ul li a{padding-left:110px;}
.sidebar-menu .main-menu li.has-sub > a:before{position:relative;display:inline-block;font-family:'FontAwesome';content:'\f107';float:right;color:#6d747a;margin-left:10px;transform:rotate(-90deg);transition:all 150ms ease-in-out;}
.sidebar-menu .main-menu li.has-sub.expanded > a:before{transform:rotate(0deg);}

/* 打开菜单挨个划入的效果 */
@media screen and (min-width:1140px){
	.sidebar-menu .main-menu ul li.is-hidden{left:-20px;opacity:0;}
}
.sidebar-menu .main-menu ul li.is-shown{left:0;zoom:1;opacity:1;transition:all 200ms ease-in-out;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown{transition-delay:80ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown{transition-delay:120ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown{transition-delay:160ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:200ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:240ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:280ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:320ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:360ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:400ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:440ms;}

@media screen and (max-width:1140px){
.wrapper{display:block;position:relative;}
.sidebar-menu{display:block;width:100%;height:auto;}
.sidebar-menu{position:relative;}
.sidebar-menu .sidebar-menu-inner{position:relative;}
.sidebar-menu .sidebar-menu-inner .logo-env{padding:12px 20px;}
.sidebar-menu .sidebar-menu-inner .main-menu{padding:0 20px;}
.sidebar-menu .sidebar-menu-inner .main-menu{display:none;margin-bottom:0;}
.sidebar-menu .sidebar-menu-inner .main-menu.mobile-is-visible{display:block;}
.sidebar-menu .sidebar-menu-inner .main-menu > li:last-child > a{border-bottom:0;}
.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle{position:absolute;right:20px;top:25px;}
.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a{position:relative;display:inline-block;color:#979898;line-height:1;margin-left:15px;}
}

/* 主标题 */
.main-title{background:#f8f8f8;margin:-30px;margin-bottom:0;padding:20px 0;box-shadow:0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;}
.main-title h1{padding-left:30px;padding-top:3px;float:left;font-weight:normal;font-size:22px;}
.main-title .breadcrumb{padding:11px 45px 10px 15px;list-style:none;}
.main-title .breadcrumb li{display:inline-block;}
.breadcrumb > li + li:before{content:"/\00a0";padding:0 5px;color:#ccc;}
.main-title .breadcrumb li i{margin-right:4px;}
.main-title .breadcrumb li a{color:#979898;}

/* 内容主体部分 */
.main-content{display:table-cell;position:relative;z-index:1;padding:30px;padding-bottom:0;vertical-align:top;word-break:break-word;}
.main-content .main-content-inner{padding:20px 0;}
@media screen and (max-width:1140px){
.wrapper,.main-content{height:auto;display:block;}
}

/* 底部 */
.main-footer{padding:20px 30px;border-top:1px solid #ddd;margin:0 -30px;font-size:12px;}
.main-footer .copyright a{font-weight:bold;color:#2c2e2f;font-weight:bold;}
.main-footer .go-up a{display:inline-block;background-color:rgba(44, 46, 47, 0.05);padding:2px 5px;}
.main-footer .go-up a:hover{background-color:rgba(44, 46, 47, 0.1);}

[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-style:normal;width:1.25em;display:inline-block;text-align:center;}
.icon-bars:before{content:"\f0c9";}
.icon-angle-up:before{content:"\f106";}


.icon-dashboard:before{content:"\f0e4";}
.icon-bookmark:before{content:"\f02e";}
.icon-gift:before{content:"\f06b";}
.icon-home:before{content:"\f015";}



